ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2.5rem;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 0.6em;
  box-shadow: 0 3px 0.6em rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
  text-align: center;
}

/*text*/
.text-center{
  text-align: center;
}

/* Layout */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Background color */
.bg-red {
  background-color: rgb(255, 104, 104);
}

.bg-blue {
  background-color: rgb(70, 70, 255);
}

.bg-green {
  background-color: rgb(81, 224, 93);
}

.bg-yellow {
  background-color: rgb(226, 230, 36);
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.753);
}

.bg-dark {
  background-color: rgb(97, 97, 97);
}

/* Border color */

.border-red {
  box-shadow: 0 3px 0.6em rgb(255, 104, 104);
}

.border-green {
  box-shadow: 0 3px 0.6em rgb(81, 224, 93);
}

.border-yellow {
  box-shadow: 0 3px 0.6em rgb(226, 230, 36);
}

.border-black {
  box-shadow: 0 3px 0.6em rgba(0, 0, 0, 0.753);
}

/* Padding , Margin */


.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}


.mt-1 {
    margin-top: 1rem;
  }
  
  .mt-2 {
    margin-top: 1.5rem;
  }
  
  .mt-3 {
    margin-top: 2rem;
  }
  
  .mt-4 {
    margin-top: 3rem;
  }
  
  .mt-5 {
    margin-top: 4rem;
  }

  .mt-6 {
    margin-top: 5rem;
  }

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}