@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

/* Responsive */
/* tablet */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    gap: 1px;
  }
}

/* mobile */

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px;
  }

  .flex {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
